{% extends "base.html" %}

{% block contenido %}
<div class="container-fluid">
			{% if detalleVideo %}
			<div class="card">
				<center><h5 class="card-header">{{ detalleVideo.cap }}</h5></center>				
				<center>
					<video id="videoPlayer" controls style="width:100%; height:100%;" > 
						<source src="{% url 'video:view_cap' detalleVideo.pk %}" type="">
							Tu navegador no soporta los videos HTML5
					</video>					
				</center>
				<div class="card-body">
					<input type="hidden" name="pk_video" id="pk_video" value="{{ detalleVideo.pk }}"> 
					<input type="hidden" name="url_view" id="url_view" value="{% url 'video:save_video_view' %}">
					<h5 class="h5">{{ detalleVideo.descripcion }}</h5>
				</div>
			</div>
			{% endif %}
		<!-- Pills navs -->
		<ul class="nav nav-pills mb-3" id="ex1" role="tablist">
			{% for k, v in temporadas.items %}
			  <li class="nav-item" role="presentation">
			  	{% ifequal k "1" %}{# verifica si la primera temporada es 1 para activar solo el primer boton los demas se desactivan #}
				    <a
				      class="nav-link active"
				      id="ex1-tab-{{ k }}"
				      data-mdb-toggle="pill"
				      href="#ex1-pills-{{ k }}"
				      role="tab"
				      aria-controls="ex1-pills-{{ k }}"
				      aria-selected="true"
				      >Temporada {{ k }}</a>
			    {% else %}
				    <a
				      class="nav-link"
				      id="ex1-tab-{{ k }}"
				      data-mdb-toggle="pill"
				      href="#ex1-pills-{{ k }}"
				      role="tab"
				      aria-controls="ex1-pills-{{ k }}"
				      aria-selected="true"
				      >Temporada {{ k }}</a>
			    {% endifequal %}
			  </li>
		  {% endfor %}
		</ul>
		<!-- Pills navs -->

		<!-- Pills content -->
		<div class="tab-content" id="ex1-content">
		{% for k, v in temporadas.items %}
		  {% ifequal k "1" %}
		  <div class="tab-pane fade show active" id="ex1-pills-{{ k }}" role="tabpanel" aria-labelledby="ex1-tab-{{ k }}">
		  {% else %}
		  <div class="tab-pane fade" id="ex1-pills-{{ k }}" role="tabpanel" aria-labelledby="ex1-tab-{{ k }}">  
		  {% endifequal %}
		  	<div class="row row-cols-1 row-cols-md-5 g-4">
			          	{% for video in v %}
			    <div class="col">
			        <div class="card">
			         	<h5 class="card-header">{{ video.cap}}</h5>
			              <a href="{% url 'video:view_video_cap' video.pk %}">
			                <img
			                  	src="{% url 'video:view_img_video' video.pk %}" class="card-img-top" alt="..."/>                              
			                </a>
			            	<div class="card-body">
			              		<h5 class="h5">{{ video.descripcion }}</h5>
			            	</div>
			        </div>
			    </div>
			          {% endfor %}
			</div>

		    </div>
			  {% endfor %}
			</div>
		</div>
</div>
{% endblock %}

{% block scriptjs %}
	{% load static %}
	<script type="text/javascript" src="{% static 'js/videos/operaciones_videos.js' %}"></script>
{% endblock %}