{% extends "base.html" %}

{% block titulo %}
	<title>{{ detallevideo.catalog_nombre }}</title>
{% endblock titulo %}

{% block contenido %}
	<div class="container">
		{% if detallevideo %}
			<div class="card" style="width: 80rem;">
				<center>
					<video id="videoPlayer" style=" width:80rem; height:20rem;" controls> 
						<source src="{% url 'video:view_video' detallevideo.pk %}" type="">
							Tu navegador no soporta los videos HTML5
					</video>					
				</center>

			  <div class="card-body">
			    <h5 class="card-title">{{ detallevideo.catalog_nombre }}</h5>
			    <p class="card-text">
			    	<h6 class="h6">Sipnosis</h6>
			    	{{ detallevideo.sipnosis }}
			    </p>
			  </div>
			  <ul class="list-group list-group-flush">
			    <li class="list-group-item"><span class="h6">Autor:</span> {{ detallevideo.author }}</li>
			    <li class="list-group-item"> <span class="h6">Categoria:</span> {{ detallevideo.idcategoria }}</li>
			    <li class="list-group-item"><span class="h6">Clasificacion:</span> {{ detallevideo.idclasificacion }}</li>
			  </ul>
			</div>
		{% endif %}

		<!-- Pills navs -->
		<ul class="nav nav-pills mb-3" id="ex1" role="tablist">
			{% for k, v in temporadas.items %}
			  <li class="nav-item" role="presentation">
			  	{% ifequal k "1" %}{# verifica si la primera temporada es 1 para activar solo el primer boton los demas se desactivan #}
				    <a
				      class="nav-link active"
				      id="ex1-tab-{{ k }}"
				      data-mdb-toggle="pill"
				      href="#ex1-pills-{{ k }}"
				      role="tab"
				      aria-controls="ex1-pills-{{ k }}"
				      aria-selected="true"
				      >Temporada {{ k }}</a>
			  	}
			    {% else %}
				    <a
				      class="nav-link"
				      id="ex1-tab-{{ k }}"
				      data-mdb-toggle="pill"
				      href="#ex1-pills-{{ k }}"
				      role="tab"
				      aria-controls="ex1-pills-{{ k }}"
				      aria-selected="true"
				      >Temporada {{ k }}</a>
			    {% endifequal %}
			  </li>
		  {% endfor %}
		</ul>
		<!-- Pills navs -->

		<!-- Pills content -->
		<div class="tab-content" id="ex1-content">
		{% for k, v in temporadas.items %}
		  {% ifequal k "1" %}
		  <div class="tab-pane fade show active" id="ex1-pills-{{ k }}" role="tabpanel" aria-labelledby="ex1-tab-{{ k }}">
		  {% else %}
		  <div class="tab-pane fade" id="ex1-pills-{{ k }}" role="tabpanel" aria-labelledby="ex1-tab-{{ k }}">  
		  {% endifequal %}
      	<div class="row row-cols-1 row-cols-md-6 g-4">
        	{% for video in v %}
           	<div class="col">
              <div class="card h-100">
              	<a href="#">
                	<img
                  	src="{% url 'video:view_img_video' video.pk %}" class="card-img-top" alt="..."/>                              
                </a>
              </div>
            </div>
          {% endfor %}
       </div>
		  </div>
		{% endfor %}
		</div>
	</div>

{% endblock %}

{% block scriptjs %}
	{% load static %}
	<script type="text/javascript" src="{% static 'js/funciones_detalle_catalogo.js' %}"></script>
{% endblock scriptjs %}